@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Hide the scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
